@model IEnumerable<PUC.LDSI.Domain.Entities.Avaliacao>
@{
    ViewData["Title"] = "Avaliacao";
}
<h2>@ViewData["Title"]</h2>
<p><a asp-action="Create" class="btn btn-default">Criar Nova Avaliacao</a></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="width:92%">
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">
                    <i class="fas fa-edit" title="Editar Avaliacao"></i>
                </a>&nbsp;
                <a asp-action="Delete" asp-route-id="@item.Id">
                    <i class="far fa-trash-alt" title="Excluir Avaliacao"></i>
                </a>&nbsp;
            </td>
        </tr>
        }
    </tbody>
</table>
